@import "resets.css";
@import "fonts.css";

:root {
    /* Schriften */
    --poppins: 700 35px/120% 'Poppins';
    --cop-toptrack: 400 30px/120% 'Copperplate';
    --cop-tracks: 400 24px/90% 'Copperplate';
    --cop-title: 400 75px/120% 'Copperplate';
}

body {
    background: linear-gradient(
        120deg,
        #d9e6c2,
        #8db7b0,
        #d9c4e8,
        #f2c6a0,
        #b8d8f0,
        #e8d5a8
    );
    background-size: 400% 400%;
    animation: genreFlow 45s ease infinite;
}

@keyframes genreFlow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h1 {
    font: var(--cop-title);
    text-align: center;
}

#index-text {
    font: var(--cop-toptrack);
    text-align: center;
    max-width: 300px;
}

#hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

#buttons_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#buttons_container .button {
    position: absolute;
    width: 215px;
    height: 215px;

    background-color: transparent;
    border: none;
    cursor: pointer;

    transform: var(--t);
    transition: transform 0.3s ease;
}

#buttons_container .button:hover {
    transform: var(--t) scale(1.1);
}

/* Buttons */
#rock {
    background-image: url("../img/button_rock.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    background-color: transparent;
    border: none;
    outline: none;

    padding: 0;
    cursor: pointer;
    
    font: var(--cop-toptrack);
    --t: translate(-50%, -50%) translate(-130px, -250px);
}

#electronic {
    background-image: url("../img/button_electronic.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    background-color: transparent;
    border: none;
    outline: none;

    padding: 0;
    cursor: pointer;
    
    font: var(--cop-toptrack);
    --t: translate(-50%, -50%) translate(130px, -250px);
}

#pop {
    background-image: url("../img/button_pop.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    background-color: transparent;
    border: none;
    outline: none;

    padding: 0;
    cursor: pointer;
    
    font: var(--cop-toptrack);
    --t: translate(-50%, -50%) translate(340px, -130px);
}

#latin {
    background-image: url("../img/button_latin.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    background-color: transparent;
    border: none;
    outline: none;

    padding: 0;
    cursor: pointer;
    
    font: var(--cop-toptrack);
    --t: translate(-50%, -50%) translate(340px, 130px);
}

#hiphop {
    background-image: url("../img/button_hiphop.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    background-color: transparent;
    border: none;
    outline: none;

    padding: 0;
    cursor: pointer;
    
    font: var(--cop-toptrack);
    --t: translate(-50%, -50%) translate(130px, 250px);
}

#folk {
    background-image: url("../img/button_folk.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    background-color: transparent;
    border: none;
    outline: none;

    padding: 0;
    cursor: pointer;
    
    font: var(--cop-toptrack);
    --t: translate(-50%, -50%) translate(-130px, 250px);
}

#rnb {
    background-image: url("../img/button_rnb.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    background-color: transparent;
    border: none;
    outline: none;

    padding: 0;
    cursor: pointer;
    
    font: var(--cop-toptrack);
    --t: translate(-50%, -50%) translate(-340px, 130px);
}

#indie {
    background-image: url("../img/button_indie.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    background-color: transparent;
    border: none;
    outline: none;

    padding: 0;
    cursor: pointer;
    
    font: var(--cop-toptrack);
    --t: translate(-50%, -50%) translate(-340px, -130px);
}

/* Titel Genres */
#genre-title {
    position: relative;
    top: 25px;
    font: var(--cop-title);
    text-align: center;
    margin-bottom: 50px;
}

/* Space für Cards */
#content {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 400px;
    gap: 60px;
    padding-inline: 60px;
    overflow-x: auto;
    overflow-y: visible;
}

.card {
    height: 600px;
    padding: 30px;
    padding-top: 45px;
    background-color: #EEEDE8;
    margin-top: 10px;
    margin-bottom: 30px;
    filter: drop-shadow(12px 10px 6.3px rgba(0, 0, 0, 0.25));
    img {
        width: 100%;
        aspect-ratio: 1/1;
        overflow: clip;
        object-fit: cover;
    }

    h2 {
        font: var(--poppins);
    }
    h3 {
        font: var(--cop-toptrack);
    }
    p {
        font: var(--cop-tracks);
    }

    &:hover {
        transform: translateY(-10px);
        transition: 0.3s ease;
    }
}

/* Zurück Button */
.back-button {
    position: absolute;
    top: 25px;
    left: 25px;
    font: var(--cop-tracks);
    width: 80px;
    height: 80px;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    background-color: transparent;
    border: none;
    outline: none;

    padding: 0;
    cursor: pointer;
    
    &:hover {
        transform: scale(1.1);
        transition: 0.3s ease;
    }
}

.hidden {
    display: none;
}





/* Mobile */

@media (max-width: 400px) {

    :root {
        /* Schriften */
        --poppins: 700 30px/120% 'Poppins';
        --cop-toptrack: 400 26px/120% 'Copperplate';
        --cop-tracks: 400 20px/90% 'Copperplate';
        --cop-title: 400 65px/120% 'Copperplate';
        --cop-genre: 400 55px/100% 'Copperplate';
        --cop-button: 400 21px/120% 'Copperplate';
    }

    body {
        background-image: url(../img/background_index_mobile.svg);
        background-size: cover;
    }

    h1 {
        font: var(--cop-title);
        text-align: center;
    }

    #index-text {
        font: var(--cop-toptrack);
        text-align: center;
        width: 90vw;
        max-width: none;
    }

    #hero {
        position: absolute;
        top: 4vh;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    #buttons_container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #buttons_container .button {
        position: absolute;
        width: 150px;
        height: 150px;

        background-color: transparent;
        border: none;
        cursor: pointer;

        transform: var(--t);
        transition: transform 0.3s ease;
    }

    /* Buttons */
    #rock {
        background-image: url("../img/button_rock.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        background-color: transparent;
        border: none;
        outline: none;

        padding: 0;
        cursor: pointer;
        
        font: var(--cop-button);
        color: black;
        --t: translate(-50%, -50%) translate(-80px, -60px);
    }

    #electronic {
        background-image: url("../img/button_electronic.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        background-color: transparent;
        border: none;
        outline: none;

        padding: 0;
        cursor: pointer;
        
        font: var(--cop-button);
        color: black;
        --t: translate(-50%, -50%) translate(80px, 40px);
    }

    #pop {
        background-image: url("../img/button_pop.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        background-color: transparent;
        border: none;
        outline: none;

        padding: 0;
        cursor: pointer;
        
        font: var(--cop-button);
        color: black;
        --t: translate(-50%, -50%) translate(-80px, 140px);
    }

    #latin {
        background-image: url("../img/button_latin.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        background-color: transparent;
        border: none;
        outline: none;

        padding: 0;
        cursor: pointer;
        
        font: var(--cop-button);
        color: black;
        --t: translate(-50%, -50%) translate(80px, 240px);
    }

    #hiphop {
        background-image: url("../img/button_hiphop.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        background-color: transparent;
        border: none;
        outline: none;

        padding: 0;
        cursor: pointer;
        
        font: var(--cop-button);
        color: black;
        --t: translate(-50%, -50%) translate(-80px, 340px);
    }

    #folk {
        background-image: url("../img/button_folk.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        background-color: transparent;
        border: none;
        outline: none;

        padding: 0;
        cursor: pointer;
        
        font: var(--cop-button);
        color: black;
        --t: translate(-50%, -50%) translate(80px, 440px);
    }

    #rnb {
        background-image: url("../img/button_rnb.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        background-color: transparent;
        border: none;
        outline: none;

        padding: 0;
        cursor: pointer;
        
        font: var(--cop-button);
        color: black;
        --t: translate(-50%, -50%) translate(-80px, 540px);
    }

    #indie {
        background-image: url("../img/button_indie.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        background-color: transparent;
        border: none;
        outline: none;

        padding: 0;
        cursor: pointer;
        
        font: var(--cop-button);
        color: black;
        --t: translate(-50%, -50%) translate(80px, 640px);
    }

    #indie::after {
        content: "";
        position: absolute;
        height: 200px;
        width: 1px;
        bottom: -40px;
    }

    /* Titel Genres */
    #genre-title {
        position: relative;
        top: 25px;
        font: var(--cop-genre);
        text-align: center;
        margin-bottom: 50px;
    }

    /* Space für Cards */
    #content {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 320px;
        gap: 40px;
        padding-inline: 40px;
        overflow-x: auto;
        overflow-y: visible;
    }

    .card {
        height: 500px;
        padding: 25px;
        padding-top: 35px;
        background-color: #EEEDE8;
        margin-top: 10px;
        margin-bottom: 100px;
        filter: drop-shadow(12px 10px 6.3px rgba(0, 0, 0, 0.25));
        img {
            width: 100%;
            aspect-ratio: 1/1;
            overflow: clip;
            object-fit: cover;
        }

        h2 {
            font: var(--poppins);
        }
        h3 {
            font: var(--cop-toptrack);
        }
        p {
            font: var(--cop-tracks);
        }

        &:hover {
            transform: translateY(-10px);
            transition: 0.3s ease;
        }
    }

    /* Zurück Button */
    .back-button {
        position: absolute;
        top: 25px;
        left: 25px;
        font: var(--cop-tracks);
        color: black;
        width: 65px;
        height: 65px;

        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        background-color: transparent;
        border: none;
        outline: none;

        padding: 0;
        cursor: pointer;
        
        &:hover {
            transform: scale(1.1);
            transition: 0.3s ease;
        }
    }
}